<div class="contenido-header">
    <div class="options">
        <div class="left-options">
            <div class="item-action">
                <div class="icon">
                    <i class="fa-solid fa-bars"></i>
                </div>
            </div>
        </div>

        <div class="rigth-options">
            <div class="item-action" (click)="cerraSesion()" title="Cerra Sesion">
                <div class="icon">
                    <i class="fa-solid fa-power-off"></i>
                </div>
            </div>
        </div>
    </div>
</div>